# Default ignored files
/workspace.xml

# DIRECTORIES
.idea/
out/
.settings/
bin/
target/
.eclipse
ProjectOne/

# FILES
*.classpath
*.project
*.tmp
~$*
*.lst
*.class
*.kotlin_module
*.jar
*.war
*.ear
*.logs
*.iml
*.mvn
*.vs/